lessons/jon_resume.md
lessons/L2_research_write_article.ipynb
lessons/L3_customer_support.ipynb
lessons/L4_tools_customer_outreach.ipynb
lessons/L5_tasks_event_planning.ipynb
lessons/L6_collaboration_financial_analysis.ipynb
lessons/L7_job_application_crew.ipynb
